// source: https://colorpalettes.net/color-palette-2990/

$snowShadow: #b7c2ce;
$snowLightShadow: #e1e8ef;
$snowSunny: #ebeef3;
$snowWhite: #f9fafc;
$snowMan: #262626;

// Legacy colors
/*
rgb(1, 183, 207)  #01b7cf
yellow | rgb(234,232,70)
 */
