// Extra small devices (portrait phones)
$screen-xs : 575.98px;
// Small devices (landscape phones, less than 768px)
$screen-sm : 767.98px;
// Medium devices (tablets, less than 992px)
$screen-md : 991.98px;
// Large devices (desktops, less than 1200px)
$screen-lg : 1199.98px;
// Extra large devices (large desktops)
